/*------------------------------- FONT IMPORTS -------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
/*------------------------------- NAVBAR -------------------------------*/
html{
    scroll-behavior: smooth;
}
body{
margin: 0;
font-family:'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
p{
    color:#ffffff;
    font-family: 'Poppins', sans-serif;
}

button, input {
    cursor:pointer;
}

.btn {
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    text-decoration: none;
    color: #39ffdb;
    border: 1px solid #39ffdb;
    border-radius: 5px;
    padding: 10px 34px;
    font-size: 25px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin: 10px 10px 180px 10px;
}

.btn:hover {
    border: 1px solid #39ffdb;
    background: #39ffdb;
    transition: 0.5s;
    color: #000;
}

.heading {
    font-family: 'Poppins', cursive;
    padding-top: 100px;
    font-size: 5rem;
    text-transform: uppercase;
    color: #FFD9BA;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0;
}


.navbar
{
    overflow: hidden;
    background-color: #0F0119;
    position: fixed;
    top: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    z-index: 400;
    right: 0;
}

.nav-link {
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
}

.nav-item{
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    padding: 15px 45px 15px 0;
}
.nav-item::before, .nav-item::after{
    color: #ffffff;
    content: '';
    width: 0%;
    height: 3px;
    background: #FFAB8f;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-item:hover::before, .nav-item:hover::after{
    width: 100%;
}

.menu-icon {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div {
    display: block;
    background-color: #FFF;
    height: 2px;
    width: 24px;
    transition: 0.3s;
}

.change .line1
{
    transform: rotate(-45deg) translate(-5px, 5px);
}

.change .line2
{
opacity: 0;
}

.change .line3
{
    transform: rotate(45deg) translate(-5px, -5px);
}

/*------------------------------- HOME PAGE -------------------------------*/


.home{
    margin: auto;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(177, 64, 243, 0.3)),url(./home-bg.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-content{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image{
    border-radius: 50%;
    overflow: hidden; 
    height: 300px;
    width: 300px;
}
.text{
    font-family: 'Amatic SC', cursive;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text p{
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
    margin: 0;
}
#p1{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    margin: 0;
    color: #35ddff;
}
#p1 span{
    color: #FFAB8f;
}
#details{
    font-family: 'Poppins', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1rem;
}

/*------------------------------- ABOUT -------------------------------*/

.about {
    background-image: linear-gradient(rgba(41,237,255,0.3), rgba(22, 22, 22, 0.3)),url(./abt-bg.jpg);
    padding: 30px;
}

.abt-content {
    max-width: 1024px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.abt-span {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #ADEDEA;
}

.abt-details, .abt-honesty {
    font-family: 'Poppins', cursive;
    font-size: 1.2rem;
    line-height: 2.6rem;
    font-weight: 300;
}

.abt-details pre, span {
    color: #fff;
}

.abt-honesty p {
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 1.5rem;
    line-height: 1.8rem;
    color: #fff;
}

.abt-content {
    padding-bottom: 60px;
}

#abt-title{
    color: #f2a6ff;
}


.education {
background-image: url(education-bg.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.education-content {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.education-box {
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin: 30px;
    background: #14324a;
    border-radius: 0.4em;
}

.education-box:hover {
    transform: scale(1.05);
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.school-image{
    border-radius: 50%;
    height: 400px;
    width: 100px;
}

.college-image{
    overflow: hidden; 
    height: 300px;
    width: 100px;
}
.education-box h2 {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0.5rem 0;
    color: #77D5D5;
}

.education-box p {
    font-size: 0.9rem;
    color: pink;
}


/*------------------------------- FORMS -------------------------------*/

label {
    color: rgb(46, 2, 2);
    font-weight: 600;
}

.contact {
    background-image: linear-gradient(rgba(105, 105, 105, 0.3), rgba(22, 22, 22, 0.3)),url(contact-bg.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-form {
    max-width: 450px;
    margin: auto;
    width: 100%;
    display: grid;
    row-gap: 1rem;
}

.contact-form .format, .contact-form textarea {
    font-family: 'Bebas Neue', cursive;
    border: none;
    outline: none;
    font-size: 0.9rem;
    font-weight: 800;
    padding: 15px;
    color: #000;
    background: #FFF;
    border-radius: 0.4rem;
}

select option {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    font-weight: 600;
}

select {
    margin-bottom: 20px;
}

form .btn {
    margin-bottom: 50px;
}

#error pre {
    color: #DF4759;
    margin-bottom: 20px;
    font-weight: 200;
    padding: 0 15px;
}

#error {
    background: #0F0119;
    margin-bottom: 20px;
}

#error h3 {
    color: #FFC18F;
    margin-bottom: 20px;
    padding: 15px 15px 0 15px;
}

/*------------------------------- FOOTER -------------------------------*/


.footer {
    background: #0F0119;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    color: #FFC18F;
    margin-bottom: 25px;
    font-weight: 600;
}

.footer p {
    color: #ADEDEA;
    margin-bottom: 20px;
}

.footer p span {
    color: #cf11bc;
    font-weight: 600;
}

.icons .uil {
    font-size: 30px;
    color: #CE205B;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px;
}

.icons .uil:hover {
    color: #ADEDEA;
    transition: 0.6s;
}

/*------------------------------- RESPONSIVENESS -------------------------------*/

@media (max-width: 850px) {
    .menu-icon {
        display: flex;
        position: fixed;
        float: left;
        padding: 20px;
        background-color: #0F0119;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100vh;
        background: #0F0119;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
        z-index: 300;
    }

    .sidebar {
        right: 0;
        transition: 0.5s;
    }

    .nav-link {
        display: block;
        margin: 1rem 0;
    }

    .home-text h3 {
        font-size: 1.3rem;
    }

    #p1 {
        font-size: 3rem;
        line-height: 6rem;
    }

    .home-text p {
        font-size: 0.75rem;
    }

    .abt-content {
        grid-template-columns: 1fr;
    }

    .heading {
        font-size: 4rem;
    }
}

/* Even Smaller Size */
@media (max-width: 550px) {
    .home-text h3 {
        font-size: 1.2rem;
    }

    #p1 {
        font-size: 2.3rem;
        line-height: 3.2rem;
    }

    .home-text p {
        font-size: 0.5rem;
    }

    .abt-content {
        grid-template-columns: 1fr;
    }

    .heading {
        font-size: 3.2rem;
    }

    .abt-text p {
        font-size: 0.5rem;
    }

    .abt-details pre {
        font-size: 0.9rem;
    }
    
    .abt-span {
        font-size: 1.5rem;
    }
}